---
layout: standalone
title: Resources
---

{% for item in site.data.navigation %}
    {% if item.title == "resources" %}
        {% for section in item.submenu %}
            <h4 class="h4 text-secondary">{{ section.heading }}</h4>
            <ul>
                {% for sub_item in section.items %}
                <li>
                    <a href="{% link {{ sub_item.page }} %}">{{ sub_item.title }}</a>
                </li>
                {% endfor %}
            </ul>
        {% endfor %}
    {% endif %}
{% endfor %}
